.card-container {
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    touch-action: none;
}

.column {
    flex: 1 1 0;
}

.divider {
    width: 2px;
    background-color: #ccc;
    height: 100%;
}